name: Build & Test (VS 2022)

on:
  pull_request:

jobs:
  build-and-test:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1

    - name: Build solution
      run: msbuild TicTacToe2023.sln /p:Configuration=Debug /m

    - name: Run native C++ tests
      run: >
        "C:\Program Files (x86)\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\Extensions\TestPlatform\vstest.console.exe"
        TicTacToe_Fall2023\Debug\TicTacToe_Fall2023.dll
